.container
  display: flex
  margin-top: 16px

  button
    flex: 1
    border-right: 1px $white solid
    border-radius: 0
    background: none
    box-shadow: none

    &:last-child
      border-right: 0
