.container
  display: flex
  margin-top: 16px

  .header
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    margin-top: 0
    padding: 8px 0
    background: transparentize($black, .75)
    text-align: center

  button
    flex: 1
    border-right: 1px $white solid
    border-radius: 0
    background: none
    box-shadow: none

    &[disabled]
      background: transparentize($white, .5)
      cursor: default

    &:first-child
      border-radius: 2px 0 0 2px

    &:last-child
      border-right: 0
      border-radius: 0 2px 2px 0
