.challangeCard
  max-width: 740px
  margin: 0 auto
  border-radius: 2px
  background: $challange-color
  color: $white
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.2)

  .questionHeader
    padding-top: 42px
    padding-bottom: 10px
    text-align: center

  main, form
    padding: 16px 56px
